@charset "UTF-8";
/* CSS Document */
body
{
	background: url( ../img/539546806.jpg) no-repeat center center fixed;
	background-blend-mode: darken;
	background-color: #2c71a7;
	background-size: cover;
}

.foto
{
	
}
/*Detail block om de informatie er in te doen*/
.fotoblock
{
	min-height: 600px;
	min-width: 900px;
	background-color: #FDFDFD;
	border-radius: 10px;
	padding: 0.4px 5px 5px 10px;
}
